<% if @teams.empty? %>
  <p>There are currently no teams.</p>
<% else %>
  <table class="table table-condensed">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>About</th>
    </tr>

  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team %></td>
      <td><%= team.location %></td>
      <td><%= team.about %></td>
    </tr>
  <% end %>
  </table>
<% end %>