<ul class="nav">
    <li><% if !current_user.is_member?(@team) %><%= link_to "Join this team", join_team_path(:user => current_user), :method => :post %><% else %><%= link_to "Leave this team", leave_team_path(:user => current_user), :method => :post %><% end %></li>
    <% if @team.has_creator?(current_user) %>
	    <li><%= link_to 'Edit team profile', edit_team_path(@team) %></li>
	    <li><%= link_to 'Delete team', @team, method: :delete, data: { confirm: 'Are you sure? Deleting this team is permanent and will remove all current members!' } %></li>
	<% end %>
</ul>