<h4>Study plan</h4>
<table class="table">
  <% @team.conversations.each do |conversation| %>
    <tr>
      <td><p class="lead"><%= link_to conversation.tutorial.title, conversation %></p></td>
      <% unless conversation.is_done? %>
        <td><%= link_to '<i class="icon-check-empty icon-2x muted"></i>'.html_safe, complete_conversation_path(:id => conversation.id, :team => conversation.team.id), :method => :post, :title => 'Mark complete', :rel => 'tooltip', "data-placement" => "bottom" %></td>
      <% else %>
        <td><%= link_to '<i class="icon-check icon-2x text-success"></i>'.html_safe, complete_conversation_path(:id => conversation.id, :team => conversation.team.id), :method => :post, :title => 'Mark incomplete', :rel => 'tooltip', "data-placement" => "bottom" %></td>
      <% end %>
      <td><%= link_to '<i class="icon-remove icon-2x muted"></i>'.html_safe, conversation, method: :delete, data: { confirm: 'Are you sure you want to delete this conversation?' }, :title => 'Delete', :rel => 'tooltip', "data-placement" => "bottom" %></td>
    </tr>
  <% end %>
</table>