<%= content_for :title, "Teams" %>

<div class="content_box">
<h2>New team</h2>

<%= render 'form' %>
</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, teams_path %>
</div>