<h1>&nbsp;<i class="icon-comments-alt icon-large"></i>&nbsp; Start a conversation</h1>
<p class="lead"><%= link_to @conversation.tutorial.title, @conversation.tutorial %></p>
<p>Learning Rails is better with friends, so let's start a conversation!</p>
<p>It's best to attempt a tutorial alone, using Google Search, Stack Overflow and any other online resources you need.  It's great to be self-reliant, but if you really get stuck, don't hesitate to start discussions before you complete the tutorial.  After everyone has given the tutorial a go, get together and discuss what made sense, what didn't or where you got stuck.</p>


<%= render 'form' %>

<%= link_to 'Back', conversations_path %>
