<br>
<br>
<h2>Some words about us:</h2>

<p>Email us at:
      <ul>
            <li><%= link_to 'david@railsforsnails.com', 'mailto:david@railsforsnails.com' %></li>
            <li><%= link_to 'baron@railsforsnails.com', 'mailto:baron@railsforsnails.com' %></li>
            <li><%= link_to 'shal@railsforsnails.com', 'mailto:shal@railsforsnails.com' %></li>
      </ul>
</p>