<h3>Curious Coders</h3>

<h4>Newest User</h4>
  <% if @users %>
  	<%= link_to @users.last.name, @users.last %>
  <% end %>
<hr>
<h4>Newest Tutorial</h4>
  <% if @users %>
  	<%= link_to @tutorials.last.title, @tutorials.last %>
  <% end %>
<hr>
<h4>Newest Team</h4>
  <% if @teams %>
  	<%= link_to @teams.last.name, @teams.last %>
  <% end %>
<br>
<hr>
<%= link_to 'Create a tutorial', new_tutorial_path, :class => "btn btn-success", :style => "color:white;" %>

