

<div class="footer">
	
	<div class="pull-right">
		<p>
			&copy; Curious Coders 2013 &middot;
			<%= link_to "Privacy", privacy_path %> &middot;
			<%= link_to "Contact", contact_path %> &middot;
			
		</p>
	</div>
	
</div>